<!DOCTYPE html>
<html>
  <head>
    <title>Renopacker</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= javascript_bundle_tag 'vendor'%>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
